@tailwind base;
@tailwind components;
@tailwind utilities;


::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}
::-webkit-scrollbar-track-piece {
  background-color: #000000;
}
/* ::-webkit-scrollbar-thumb:vertical {
  height: 0px;
  background-color: #131313;
} */

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 47.4% 11.2%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 47.4% 11.2%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 100% 50%;
    --destructive-foreground: 210 40% 98%;

    --ring: 215 20.2% 65.1%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 224 71% 4%;
    --foreground: 213 31% 91%;

    --muted: 223 47% 11%;
    --muted-foreground: 215.4 16.3% 56.9%;

    --popover: 224 71% 4%;
    --popover-foreground: 215 20.2% 65.1%;

    --card: 224 71% 4%;
    --card-foreground: 213 31% 91%;

    --border: 216 34% 17%;
    --input: 216 34% 17%;

    /* --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 1.2%; */
    --primary:34, 42%, 71%
    --primary-foreground: 222.2° 47.4% 1.2%;

    --secondary: 222.2 47.4% 11.2%;
    --secondary-foreground: 210 40% 98%;

    --accent: 216 34% 17%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;

    --ring: 216 34% 17%;

    --radius: 0.5rem;
  }
}



@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings: 'rlig' 1, 'calt' 1;
  }
}

.bg-fancy {
  background-image: radial-gradient(
    rgba(255, 255, 255, 0.1) 1px,
    transparent 1.5px
  );

  background-size: 1.1rem 1.1rem;
}

.canvas-cond-w {
  width: 40%;
}

.items-display {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-evenly;
}

/* Level 1: Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
  /* styles for level 1 */
  /* .items-display{
    display: flex;
    flex-direction: col;
    align-items: center;
    justify-content: center;
  } */
}

/* Level 2: Small devices (landscape phones, 576px - 767px) */
@media (min-width: 576px) and (max-width: 767.98px) {
  /* styles for level 2 */
  /* .items-display{
    display: flex;
    flex-direction: col;
    align-items: center;
    justify-content: center;
  } */
}

/* Level 3: Medium devices (tablets, 768px - 839px) */
@media (min-width: 768px) and (max-width: 839.98px) {
  /* styles for level 3 */
  /* .items-display{
    display: flex;
    flex-direction: col;
    align-items: center;
    justify-content: center;
  } */
}

/* Level 4: Medium devices (tablets, 840px - 919px) */
@media (min-width: 840px) and (max-width: 919.98px) {
  /* styles for level 4 */
  /* .items-display{
    display: flex;
    flex-direction: col;
    align-items: center;
    justify-content: center;
  } */
}

/* Level 5: Medium devices (tablets, 920px - 991px) */
@media (min-width: 920px) and (max-width: 991.98px) {
  /* styles for level 5 */
  /* .items-display{
    display: flex;
    flex-direction: col;
    align-items: center;
    justify-content: center;
  } */
}

/* Level 6: Large devices (desktops, 992px - 1063px) */
@media (min-width: 992px) and (max-width: 1063.98px) {
  /* styles for level 6 */
}

/* Level 7: Large devices (desktops, 1064px - 1199px) */
@media (min-width: 1064px) and (max-width: 1199.98px) {
  /* styles for level 7 */
  .canvas-cond-w  {
    width: 50%;
  }
}

/* Level 8: Extra large devices (large desktops, 1200px - 1399px) */
@media (min-width: 1200px) and (max-width: 1399.98px) {
  /* styles for level 8 */
  /* here set width lower */
  .canvas-cond-w  {
    width: 60%;
  }
}
/* here */
/* Level 9: Extra large devices (large desktops, 1400px - 1599px) */
@media (min-width: 1400px) and (max-width: 1599.98px) {
  /* styles for level 9 */
  .canvas-cond-w  {
    width: 65%;
  }
}

/* Level 10: Extra extra large devices (large desktops, 1600px and up) */
@media (min-width: 1600px) {
  /* styles for level 10 */
}

.prevent-select {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}




.tall-show {
  display: none;
}

@media (min-height: 875px) {
  .tall-show {
    display: flex;
  }
}


.auto-cols {
  grid-template-columns: repeat(auto-fit, minmax(min(100%, 185px), 1fr));
}
